<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Galeria de Fotos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item *ngFor="let image of gallery_ar">
      <ion-card>
        <img [src]="image.url" />
        <ion-card-header>
          <ion-card-title>{{image.name}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>